<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourites Page</title>
</head>
<body>
    <h1>Favourite Coins</h1>

    <hr>

    <table>
        <tr>
            <!-- <td>Rank</td> -->
            <td>Asset</td>
            <td>Price</td>
            <td>Market Cap</td>
            <td>Volume Day To</td>
            <td>High Day</td>
            <td>Low Day</td>
        </tr>
        
        <tr data-th-each=" c : ${list}">
            <!-- <td>
                <input type="checkbox" name="${c.fullName}">
            </td> -->
            <!-- <td>
                <span data-th-text="${c.rank}"></span>
            </td> -->
            <td>
                <span data-th-text="${c.asset}"></span>
            </td>
            <td>
                <span data-th-text="${c.price}"></span> 
            </td>
            <td>
                <span data-th-text="${c.mktCap}"></span> 
            </td>
            <td>
                <span data-th-text="${c.volumeDayTo}"></span> 
            </td>
            <td>
                <span data-th-text="${c.highDay}"></span> 
            </td>
            <td>
                <span data-th-text="${c.lowDay}"></span> 
            </td>   
        </tr>
    </table>

</body>
</html>